{% extends "users/base.html" %}
{% block content %}
  {% if user.is_authenticated%}
    {% for reservation in reservations %}
      {% if user.is_superuser %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="article-title" href="{% url 'reservation-detail' reservation.id %}">User: {{ reservation.user }}</a>
              <p class="text-muted">Hotel: {{ reservation.hotelroom.hotel }}</p>
              <p class="text-muted">Room: {{ reservation.hotelroom.room }}</p>
              <p class="text-muted">Checkin: {{ reservation.checkin }}</p>
              <p class="text-muted">Checkout: {{ reservation.checkout }}</p>
          </div>
        </article>
      {% elif reservation.user == user %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h4 class="article-title">Hotel: {{ reservation.hotelroom.hotel }}</h4>
              <p class="article-content">Room: {{ reservation.hotelroom.room }}</p>
              <p class="text-muted">Checkin: {{ reservation.checkin }}</p>
              <p class="text-muted">Checkout: {{ reservation.checkout }}</p>
          </div>
        </article>
      {% endif %}
    {% endfor %}
      <div>
        <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'reservation-create'%}">New reservation</a>
      </div>    


    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
  {% else %}
    <div class="content-section">
     <h2>Please, create an account to see your reservations.</h2>
    </div>
  {% endif %}
{% endblock content %}
