{% extends "users/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      {% if user.is_authenticated%}
      <div class="article-metadata">
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'reservation-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'reservation-delete' object.id %}">Delete</a>
          </div>
      </div>
      <h2 class="article-title">{{ reservation.user }}</h2>
      <h4 class="article-title">Hotel: {{ reservation.hotelroom.hotel }}</h4>
      <p class="article-content">Room: {{ reservation.hotelroom.room }}</p>
      <p class="article-content">Checkin: {{ reservation.checkin }}</p>
      <p class="article-content">Checkout: {{ reservation.checkout }}</p>
      {% else %}
        <div class="content-section">
         <h2>Please, create an account for reservations.</h2>
        </div>
      {% endif %}
    </div>
  </article>
{% endblock content %}
