{% extends "users/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        {% if user.is_authenticated and user.is_superuser %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'hotelroom-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'hotelroom-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ hotelroom.hotel }}</h2>
      <h4 class="article-title">{{ hotelroom.room }}</h4>
      <p class="article-content">{{ hotelroom.ubication }}</p>
      <p class="article-content">Price per night: {{ hotelroom.pricenight }}</p>
    </div>
  </article>
  {% if user.is_authenticated%}
    <div>
      <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'reservation-create'%}">New reservation</a>
    </div>
  {% else %}
    <h4 class="article-title">Create an account to make your reservation!!</h4>
  {% endif %}
{% endblock content %}
