{% extends "users/base.html" %}
{% block content %}
{% if user.is_authenticated and user.is_superuser %}
    <div class="content-section">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Delete Hotel</legend>
          <h2> Are you sure you want to delete the hotel "{{ object.name }}"</h2>
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
          <a class="btn btn-outline-secondary" href="{% url 'hotel-detail' object.id %}">Cancel</a>
        </div>
      </form>
    </div>

{% else %}
  <div class="content-section">
   <h2>You are not an administrator, please return to home.</h2>
  </div>
{% endif %}
{% endblock content %}
