{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated and user.is_superuser %}
    <div class="content-section">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">New Hotel</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Create/Update</button>
        </div>
      </form>
    </div>
{% else %}
  <div class="content-section">
    <h2>You are not an administrator, please return to home.</h2>
  </div>
{% endif %}
{% endblock content %}
