{% extends "users/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        {% if user.is_authenticated and user.is_superuser %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'hotel-update' hotel.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'hotel-delete' hotel.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ hotel.name }}</h2>
      <p class="article-content">{{ hotel.description }}</p>

      {% for hotelroom in hotelsrooms %}
        {% if hotelroom.state == 'Av' %}
            <article class="article-metadata">
              <div class="media-body">
                <h4><a class="mr-2" href="{% url 'hotelroom-detail' hotelroom.id %}">{{ hotelroom.room }}</a></h4>
                <small class="text-muted">{{ hotelroom.ubication }}</small>
                <small class="text-muted">{{ hotelroom.state }}</small>
              </div>
            </article>
          {% elif user.is_superuser %}
            <article class="article-metadata">
              <div class="media-body">
                <h4><a class="mr-2" href="{% url 'hotelroom-detail' hotelroom.id %}">{{ hotelroom.room }}</a></h4>
                <small class="text-muted">{{ hotelroom.ubication }}</small>
                <small class="text-muted">{{ hotelroom.state }}</small>
              </div>
            </article>
          {% endif %}
      {% endfor %}

      {% if user.is_authenticated and user.is_superuser %}
        <div>
          <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'hotelroom-create'%}">Add Room</a>
        </div>
      {% endif %}
    </div>
  </article>
{% endblock content %}
